*{
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    height:500px;
    width:500px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25% 25%;
}
.p1{
    border: 1px solid black;
    border-radius: 5px;
}

